.color_red {
  color: #ed2a28;}
.line_1 {
  width: 200px;
  margin-top: 10px;}
.line_1, .line_2, .line_3/*, .line_1-1, .line_2-2, .line_3-3*/ {
  display: block;
  height: 1px;
  background: #dbdbdb;
  position: relative;}
.line_2 {
  width: 150px;
  margin-top: 5px;}
.line_3 {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 15px;}
.property-list-list {
  border-top: 3px solid #ed2a28;}
.property-list-list-info a > h3 {
  padding-top: 20px;}
li.left {
  padding-left: 202px;}
li.right {
  padding-inline: 753px;}

element.style {
}
.property-list-list ul li.right span {
  background-color: #ed2a28;
}
.property-list-list ul li.right span {
  border-radius: 100px;
  color: #fff;
  padding: 5px 11px;
}
.property-list-list {
  margin-top: 50px;
  width: 922px;
  border-top: 3px solid #ed2a28;
  padding-top: 32px;
  margin-inline: 270px;}
img {
  margin-inline: -97px;
  vertical-align: middle;
  border-style: none;
  margin-top: -242px;}

.property-list-list ul {
  list-style: outside none none;
}
.titre,.prix{
  font-weight: 900!important;
  color: #ed2a28;
}
