<div class="container pt-5">
  <button class="btn btn-danger" (click)="Envoyerunemail()">
    <i class="fa fa-plus-square" aria-hidden="true" ></i> Envoyer un mail</button><br><br>
  <div>
    <!--<label>Keyword</label>-->
    <!--<input type="text" name="keyword" [(ngModel)]="filters.keyword" (input)="filterType()">-->
    <!--<button type="submit" class="btn btn-primary"> cherche<i></i></button>-->
    <!--  <input type="search" class="form-control" [(ngModel)]="filter_data">-->
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Nom </th>
      <th>Prenom</th>
      <th>Mail</th>
      <th>Téléphone</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>
    <!--<tbody *ngIf="(type | filter: filter_data).length  0; "-->
    <tbody>
    <tr *ngFor="let item of proprietairefond ">
      <!--<td><span>{{item.fondId}}</span></td>-->
      <!--  <td >
        <div *ngFor="let type of listeproprietaire">
          <span *ngIf="type.documentId === item.documentId">{{type.nom}}</span>
        </div></td>-->
      <td><span>{{item.nom}}</span></td>
      <td><span>{{item.prenom}}</span></td>
      <td><span>{{item.mail}}</span></td>
      <td><span>{{item.telephone}}</span></td>
      <td>
        <a  class="btn btn-danger" (click)="deleteconact(item)" > Delete </a>
        <!--<a  class="btn btn-success" (click)="ModifierType(item)"> Modifier</a>
      --></td>
    </tr>
    </tbody>

  </table>

</div>
