.single-query .keyword-input {
  border: 1px solid rgba(229, 229, 229, 1);
  height: 40px;
  border-radius: 0;
  padding-left: 10px;
  width: 44%;
  background: #fff;
  margin-inline: 250px;}

textarea#description {
  width: 44%;
  /* height: 99px; */
  padding-bottom: 91px;
  margin-bottom: 10px;
  margin-inline: 255px;
}
.btn-danger {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  margin-inline: 256px; }
