.color_red {
  color: #ed2a28;
}
input.keyword-input {
  width: 179px;
  margin-left: 129px;
  padding-bottom: 4px;
  padding-top: 10px;
}
select.selectpicker {
  padding-bottom: 10px;
  padding-top: 8px;
  margin-left: 187px;

  width: 171px;}
select#cars {
  width: 186px;
  padding-top: 8px;
  margin-left: 166px;
  padding-bottom: 10px;}
.btn_fill1{

  font-weight: 700 ;
  text-align: center;
  padding: 12px 40px;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  margin-left: -116px;
  margin-right: 128px;}
.btn_fill1{background: #dc3545; margin-inline: 194px;}
select.form-select.mt-4 {
  width: 226px;
  margin-inline: -15px;}

