<div class="row">

  <div class="info-box" style="width: 200px; margin-left: 5px;" (click)="listemasion()" >
    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-home"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">Masions</span>
      <span class="info-box-number">10</span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->

  <!-- /.col -->
  <div class="info-box mb-3" style="width: 200px; margin-left: 10px;"(click)="listeappartement()" >
    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-building"></i></span>

    <div class="info-box-content">
      <span class="info-box-text"> Appartements</span>
      <span class="info-box-number">41</span>
    </div>
    <!-- /.info-box-content -->

    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <!-- fix for small devices only -->

  <div class="info-box mb-3" style="width: 200px; margin-left: 10px;"  (click)="listefondcommerce()" >
    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-warehouse"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">Dépôt</span>
      <span class="info-box-number">76</span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
  <!-- /.col -->
  <div class="info-box mb-3" style="width: 200px;margin-left: 10px;" (click)="listeterrain()">
    <span class="info-box-icon bg-warning  elevation-1"><i class="fas fa-home-alt"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">Studios</span>
      <span class="info-box-number">20</span>
    </div>
    <!-- /.info-box-content -->
  </div>





</div>
