#login .profile-login {
  background: #222222;
  border-radius: 5px;
  margin: auto;
  max-width: 100%;
  padding-bottom: 30px;
  padding-top: 35px;
  width: 500px;}
h2 {
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;}
.keyword-input {
  border: 1px solid rgba(229, 229, 229, 1);
  width: 430px;
  height: 46px;
  padding-left: 8px;}
#login .profile-login .search-form-group.white > span {
  /* vertical-align: super; */
  color: #fff;
  vertical-align: super;}
#login .profile-login ul li a {
  color: #000;
  background: #fff;
  border: 1px solid;
  border-radius: 0;
  font-size: 18px;
  height: 54px;
  line-height: 54px;
  max-width: 100%;
  padding: 0;
  width: 221px;
  display: inline-block;}
.login_detail {
  background: transparent;
  margin: auto;
  width: 442px;}
#login .profile-login .nav > li > a:hover {
  background:red;
  color:#fff;
  border: none;
  border-radius: 0;
}
a:hover {
  color: #ff0000;
  text-decoration: none;}
.lost-pass{color: #ff0026;
  text-decoration: revert;     margin-inline: -233px;}
.btn_fill:hover {
  background: #B7B7B7;
  color: #232122;}
.btn_fill {
  width: 169px;
  text-transform: uppercase;
  padding: 10px 7px;}
.form-check-label{color: #dbdbdb}


#login .profile-login .nav > li > a.active {
  background:#ed2a28;
  color:#fff;
  border: none;
  border-radius: 0;
}
.btn_fill {
  background: #ed2a28;
  color: #fff;
}
.selectpicker{padding: 10px;}
**************************
.socials li {
  display: inline-block;
}
.socials li a {
  color: #dbdbdb;
  border: 1px solid #dbdbdb;
  display: block;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  width: 32px;
  margin: 5px 5px 5px 0;
  text-align: center;
}
.socials li a:hover{
  color: #fff;
  background: #ed2a28;
}

.imglogoheader {
  width: 50%;
  display: block;
  margin: auto;
}
.nav.navbar.bootsnav ul.nav > li > a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 20px 15px;
  font-size: 15px;
  color: #555555;
}
#header-bottom .get-tuch {
  display: inline-block;
}
#header-bottom .get-tuch i {
  display: inline-block;
  font-size: 49px;
  margin-right: 7px;
  vertical-align: text-bottom;
}
.top20 {
  margin-top: 20px;
}
#header-bottom .get-tuch > ul {
  display: inline-block;
  padding-left: 2%;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.get-tuch h4{
  font-size: 18px;
  font-weight: 600;
}
.get-tuch p {
  font-size: 15px;
  color: #676767;
}
