.table table-striped{
  padding: 5%;
}
.btn  {
  background-color: #ed2a28;
}
.btn1 btn-primary{
  background: blue;}
.panel-heading{
  padding-bottom: 1%;
}
.btn btn-success{
color: #dbdbdb;
  background: darkgreen;
}

