<!--===== HEADER =====-->
<header id="main_header">

  <!--===== HEADER TOP =====-->
  <div id="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm"><img src="assets/logo.png" alt="logo" width="50%"/></div>
        <div class="col-md-10 col-sm-12 col-xs-12">
          <div class="row">
            <div class="get-tuch text-left top20 col-md-4 col-sm-4">
              <i class="fa fa-phone"></i>
              <ul>
                <li>
                  <h4>Téléphone</h4>
                </li>
                <li>
                  <p>26 433 293</p>
                </li>
              </ul>
            </div>

            <div class="get-tuch text-left top20  col-md-4 col-sm-4">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <ul>
                <li>
                  <h4>Adresse</h4>
                </li>
                <li>
                  <p>Medenine</p>
                </li>
              </ul>
            </div>

            <div class="get-tuch text-left top20  col-md-4 col-sm-4">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <ul>
                <li>
                  <h4>Email</h4>
                </li>
                <li>
                  <p>AdminAdmin@gmail.com</p>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== #/HEADER TOP =====-->
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <!--nav-->

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
          <div class="container-fluid">

            <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active text-light" aria-current="page" routerLink="">Accueil</a>
                </li>
                <!--      <li class="nav-item">
                        <a class="nav-link text-light" href="#">Offres</a>
                      </li>-->

                <li class="nav-item dropdown">
                  <a href="#." class="nav-link dropdown-toggle text-light" data-toggle="dropdown">Recherche</a>
                  <ul class="dropdown-menu">
                    <li><a href="/rechercheclassiquevisiteur" class="dropdown-item">Recherche Classique</a></li>
                    <li><a href="/rechercheflouesimplee" class="dropdown-item">Recheche flexible(simple)</a></li>
                    <li><a href="recherchecomplexevisiteur" class="dropdown-item">Recherche flexible(complexe)</a></li>
                  </ul>

                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/bien">Bien</a>
                  </li>-->
                <!--li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li-->
              </ul>
              <form class="d-flex">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                <button class="btn btn btn-outline-danger text-light" type="submit"  routerLink="/login">Connexion</button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>

</header>
<!--===== HEADER =====-->
<!--slider-->
<div class='col-12'>
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="./assets/slider/slider1.jpg" width="100%">
    </ng-template>
    <ng-template ngbSlide>
      <img src="./assets/slider/slider2.jpg" width="100%">
    </ng-template>
    <ng-template ngbSlide>
      <img src="./assets/slider/slider3.jpg" width="100%">
      <!--div class="carousel-caption">
        <h3 style="color: yellow">Mumbai Metro</h3>
      </div-->
    </ng-template>
  </ngb-carousel>
</div>
<!--end slider-->
<!--presentation-->
<section id="about-sev" class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <div class="row">
          <div class="col-md-12 pb-5">
            <h2 class="text-uppercase">Présentation</h2>
            <div class="line_1"></div>
            <div class="line_2"></div>
            <div class="line_3"></div>
          </div>
        </div>

        <div class="about-sev-tag">

          <h4 class="text-danger">Agence Immobilier</h4>

          <p class="pb-1">Notre agence immobilière vous propose des maisons et appartements à vendre,à acheter et à louer. Que vous soyez acquéreur ou propriétaire, nos agents professionnels de l’immobilier vous conseillent et vous accompagnent depuis la construction jusqu’à la finalisation de votre projet immobilier.</p>


          <ul>
            <li><i class="fa fa-check-square text-dark" aria-hidden="true"> Rechercher classique</i> </li>
            <li><i class="fa fa-check-square " aria-hidden="true"> Rechercher flexible et floue(simple)</i> </li>
            <li><i class="fa fa-check-square " aria-hidden="true"> Recherche flexible et floue(complexe)</i> </li>
            <li><i class="fa fa-check-square " aria-hidden="true"> Louer et acheter des biens</i> </li>
          </ul>

          <div class="founder-text">
            <p>..</p>
            <h3></h3>
          </div>

        </div>

      </div>

      <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="about-sev-img">
          <img src="/assets/home/about.png" width="100%">
        </div>
      </div>

    </div>

  </div>
</section>
<!-- presentation -->
<!-- service -->
<section id="service" class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-md-2"></div>
      <div class="col-xs-12 col-sm-10 col-md-8 text-center">
        <h2 class="text-uppercase">Services</h2>
        <div class="line_1-1"></div>
        <div class="line_2-2"></div>
        <div class="line_3-3"></div>
        <p>Notre agence immobilier vous accompagne pour la réalisation de votre projet immobilier. Vous souhaitez acheter, louer, vendre ou faire estimer la valeur de votre appartement, votre maison ou votre terrain ? Nous sommes à votre écoute.
        </p>
      </div>
      <div class="col-sm-1 col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12 text-center">
        <div class="imgservice pt-3">
          <img src="/assets/home/service1.png" alt="image">
          <p class="pt-2"> Service disponible 24h/24</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center">
        <div class="imgservice pt-3">
          <img src="/assets/home/service2.png" alt="image">
          <p class="pt-2">Expert et professionnel</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center">
        <div class="imgservice pt-3">
          <img src="/assets/home/service3.png" alt="image">
          <p class="pt-2">Satisfaction garantie</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center">
        <div class="imgservice pt-3">
          <img src="/assets/home/service4.png" alt="image">
          <p class="pt-2">Inspection gratuite</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- service-->
<app-footer></app-footer>

